// All these colors are available as a Sass map, $theme-colors. Sobreescribe los colores de bootstrap.

$black: #000000;
$dark: #212529;
$info: #0dcaf0;
$brown: #ffecd0;
$light: #f8f9fa;
$white: #FFFFFF;

